@mixin atSmall {
  @media (min-width: 530px) {
    @content;
  }
}

@mixin atSmallMedium {
  @media (min-width: 767px) {
    @content;
  }
}

@mixin atMedium {
  @media (min-width: 960px) {
    @content;
  }
}

body {
  color: #333;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

// custom code
.brewery-logo-img {
  height: 20%;
  width: 20%;
}
.brew-logo-text {
  display: none;
}

@media screen and (min-width: 959px) and (max-width: 1159px) {
  .brewery-logo {
    display: none;
  }

  .brew-logo-text {
    display: Block;
  }
}
a {
  color: $mainBlue;
}

a:hover {
  text-decoration: none;
}

p,
ul,
ol {
  margin: 0 0 1.65em 0;
}

p,
li {
  line-height: 1.65;
}
